.game-board {
    display: grid;
    width: 140px;
    height: 140px;
    grid-template-rows: repeat(3, 1fr);
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.alive{
    background-color: azure;
}

.r2{
    background-color: azure;
}

.c1{
    background-color: black;
}